<!-- 7 POSSIBLE HANDLEBARS FILE TO GENERATE-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>
<body>
  <header>
    <div>
      <nav>
        <a class="btn" id="homeBtn">Home</a>
        <a class="btn" id="dashBtn">Dashboard</a>
        {{#if logged_out}}
        <a class="btn" id="signUpBtn" href="/signup">Login</a>
        <a class="btn" id="loginBtn" href="/login">Login</a>
        {{else}}
        <a class="btn" id="logoutBtn" href="/">Logout</a>
        {{/if}}
      </nav>
    </div>
    <div>
      <h1>Tech Blog</h1>
    </div>
  </header>
  <main>
{{{body}}}
  </main>
</body>

<footer>

</footer>

  {{#if logged_in}}
  <script src="/public/js/logout.js"></script>
  {{/if}}

</html>
