<!-- create post handlbars-->
<h2>Create Post</h2>
<section>
    <form>
        <label for="createTitle">Title</label>
        <input type="text" name="createTitle">
        <label for="createContent">Content</label>
        <input type="text" name="createContent">
        <button type="submit">Create</button>
    </form>
</section>