<!-- create post handlbars-->
<h2>Create Post</h2>
<section>
    <form class="createForm">
        <label for="createTitle">Title</label>
        <input type="text" name="createTitle" id="newPTitle">
        <label for="createContent">Content</label>
        <input type="text" name="createContent" id="newPContent">
        <button type="submit">Create</button>
    </form>
</section>

<script src="/js/create.js"></script>