<!-- create post handlbars-->
<h2 class="createTitle">Create Post</h2>
<section class="createSection">
    <form class="createForm">
        <label for="createTitle" class="postCreateTitle">Title</label>
        <input type="text" name="createTitle" id="newPTitle">
        <label for="createContent" class="postContentTitle">Content</label>
        <textarea name="createContent" id="newPContent"></textarea>
        <button type="submit" id="creatBtn">Create</button>
    </form>
</section>

<script src="/js/create.js"></script>