  <!-- dashboard handlbars-->
  <h2>Dashboard</h2>
  <section>
      {{#each userPosts as |post|}}
      <a href="/dashboard/edit/{{id}}" class="userPosts">
          <div class="userPostData">
              <h3>{{title}}</h3>
              <h3>{{format_date}}</h3>
          </div>
      </a>
      {{/each}}
  </section>
  <div class="botBtn">
      <a href="/dashboard/create">New Post</a>
  </div>
</body>