  <!-- dashboard handlbars-->
  <h2>Dashboard</h2>
  <section>
      <!-- Nav to selected posts/id of post-->
      
      <a href="" class="userPosts">
          <div class="userPostData">
              <h3>Title</h3>
              <h3>Date</h3>
          </div>
      </a>
  </section>
  <div class="botBtn">
      <button type="submit">New Post</button>
  </div>
</body>