<!-- edit post handlbars-->
<h3 class="editTitle">Edit Post</h3>
<!-- Find correct post, insert into label??-->
<section class="editSection">
    <form class="editForm">
        <div id="findId" dataId="{{userPost.id}}"></div>
        <label for="editPTitle" class="postEditTitle">Title</label>
        <input type="text" name="Title" id="editPTitle" value="{{userPost.title}}">
        <label for="editPContent" class="postContentTitle">Content</label>
        <textarea name="Content" id="editPContent" value="{{userPost.content}}">{{userPost.content}}</textarea>
        <div class="edtiBtns">
            <button class="updateBtn" type="submit">Update Post</button>
            <button class="deleteBtn" type="submit">Delete</button>
        </div>
    </form>
</section>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>