<!-- edit post handlbars-->
<h3>Edit Post</h3>
<!-- Find correct post, insert into label??-->
<section>
    <form class="editForm">
        <div id="findId" dataId="{{userPost.id}}"></div>
        <label for="editPTitle">Title</label>
        <input type="text" name="Title" id="editPTitle" value="{{userPost.title}}">
        <label for="editPContent">Content</label>
        <input type="text" name="Content" id="editPContent" value="{{userPost.content}}">
        <button id="updateBtn" type="submit">Update Post</button>
        <button id="deleteBtn" type="submit">Delete</button>
    </form>
</section>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>