  <!-- home page handlbars-->
  <section>
    {{#each userPosts as |post|}}
      <a class="posts" href="/post/{{id}}">
          <div class="postInfo">
            <h2>{{title}}</h2>
            <h2>Posted by {{user.username}}</h2>
          </div>
          <div>
              <p>
                  {{content}}
              </p>
          </div>
      </a>
      {{/each}}
  </section>