<form class="loginForm">
  <h2>Login</h2>
  <div>
    <label for="user-name">username:</label>
    <input class="form-input" type="text" id="userLogin"/>
  </div>
  <div>
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="passwordLogin"/> 
  </div>
  <div>
    <button class="loginBtn" type="submit">login</button>
  </div>
  <p>Sign Up</p>
</form>

<script src="../public/js/login.js"></script>