<!-- login handlbars-->
<form class="loginForm">
  <div class="loginBox">
    <h2 class="loginTitle">Login</h2>
    <div class="formInputs">
      <label for="userLogin">username:</label>
      <input class="form-input" type="text" id="userLogin"/>
    </div>
    <div class="formInputs">
      <label for="passwordLogin">password:</label>
      <input class="form-input" type="password" id="passwordLogin"/> 
    </div>
    <div class="formBtns">
      <button class="loginBtn" type="submit">login</button>
      <a href="/signup" id="signUpBtn">Sign Up</a>
    </div>
  </div>
</form>

<script src="/js/login.js"></script>