<!-- sign up handlbars-->
<form class="signupForm">
  <div class="loginBox">
    <h2 class="loginTitle">Sign Up</h2>
    <div class="formInputs">
      <label for="userSignup">username:</label>
      <input class="form-input" type="text" id="userSignup"/>
    </div>
    <div class="formInputs">
      <label for="passwordSignup">password:</label>
      <input class="form-input" type="password" id="passwordSignup"/> 
    </div>
    <div class="formBtns">
      <button class="signUpBtn" type="submit">Sign Up</button>
      <a href="/login" id="signUpBtn">Login</a>
  </div>
</form>

<script src="/js/signup.js"></script>
