<!-- sign up handlbars-->
<form class="signupForm">
  <h2>Sign Up</h2>
  <div>
    <label for="user-name">username:</label>
    <input class="form-input" type="text" id="userSignup"/>
  </div>
  <div>
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="passwordSignup"/> 
  </div>
  <div>
    <button class="signUpBtn" type="submit">Sign Up</button>
  </div>
  <a href="/login">Login</a>
</form>

<script src="/js/signup.js"></script>
