<!-- singlepost Handlebars-->
<section>
    <div class="posts">
      <div class="postInfo">
        <h2>{{title}}</h2>
        <h2>Posted by {{user.username}}</h2>
      </div>
        <div>
            <p>
                {{content}}
            </p>
        </div>
    </div>
</section>
<!-- Comment section a partial???-->
<section>
    {{#each comments}}
        {{>comment-details}}
    {{/each}}
</section>
<section>
    <form class="commentForm">
            <label for="newComment" dataId="{{id}}" id="commId">Comment Entry</label>
            <input type="text" name="comment" id="newComment">
        <button type="submit">Submit</button>
    </form>
</section>

<section src="/js/comment.js"></section>
